header, footer {
    background-color:#020303;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
aside{
    padding-top: 10px;
    font-weight: bold;
}
.title {
    color: darkgrey;
}
#orderlist {
    color: darkgreen;  
}
nav {
    background-color: #222;
}

section, article {
    padding: 10px;
    background-color:white;
}

/* img {
    height: 250px;
    width: 250px;
} */

.form-row {
    padding: 10px;
    flex: 1;

}
#search {
    width: 357px;
    margin: 100px;
  }

  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  
  
  


